{% extends "posts/post_base.html" %}
{% block pre_post %}

    <header class="bg-info py-2 text-white mb-5">
    <div class="container">
      <div class="">
        <h1>Detailed Post</h1>
      </div>
    </div>
  </header>


<div class="container mt-5">
    <h1>{{post.title}}</h1>
    <a href="{% url 'accounts:about_user' pk=post.user_id %}" style="text-decoration:none"><h5>@{{post.user}}</h5></a>
    {% if post.group is not None %}
    <a href="{% url 'groups:single' slug=post.group.slug %}" style="text-decoration:none"><h5>{{post.group}} Group</h5></a>
    {% endif %}
</div>

{% endblock %}
{% block post_content %}
<div class="container">

        <div class="card">
            <div class="card-body">
                {{post.message|safe}}
            </div>
            {% if user.is_authenticated and post.user == user %}
            <div class="card-footer"style="width:auto">
                <a href="{% url 'posts:edit' pk=post.pk%}" class="btn btn-info"><i class="fa fa-pencil" aria-hidden="true"></i>  Edit</a>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>  Delete
                </button>
            </div>
            {% endif %}
        </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="modal-text">
              <h5> Do you want to delete {{post.title}}?</h5>
          </div>

      </div>
      <div class="modal-footer">
          <form method="POST" action="{% url 'posts:delete' pk=post.pk %}">
            {% csrf_token %}
                <input type="submit" value="Confirm Delete" class="btn btn-danger">
            <a href="{% url 'posts:single' pk=object.pk %}" class="btn btn-info">Cancel</a>
          </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}