{% extends "groups/group_base.html" %}
{% block pregroup %}
  <header class="bg-success py-2 text-white mb-5">
    <div class="container">
      <div class="">
        <h1>Detailed Group</h1>
      </div>
    </div>
  </header>
<div class="container">
    <h1>{{group.name|title}}</h1>
    <p class="font-italic">{{group.description}}</p>
    <h2>Member Count: {{group.members.count }}</h2>
    <div class="content mb-2">
        {% if user in group.members.all %}
        <a href="{% url 'groups:leave' slug=group.slug %}"
           class="btn btn-warning">EXIT  <i class="fa fa-sign-out" aria-hidden="true"></i></a>
        {% else %}
            <a href="{% url 'groups:join' slug=group.slug %}"
           class="btn btn-info">JOIN   <i class="fa fa-sign-in" aria-hidden="true"></i></a>
        {% endif %}
    </div>
</div>

{% endblock %}

{% block group_content %}
<div class="container">
        {% if group.posts.count == 0 %}
        <h2>No posts in this group yet!</h2>
        {% else %}
        {% for post in group.posts.all %}
        <a href="{% url 'posts:single' pk=post.pk %}" style="color:inherit;text-decoration: none;">
        <div class="card font1 mb-2" style="">
            <div class="card-header">
                <h3 style="display:inline;">{{post.title|capfirst}}</h3>
                <p style="display:inline;"> by {{post.user}}</p>

            </div>
            <div class="card-body" style="font1">
                <p class="card-text">{{post.message|safe|truncatechars:200}}</p>
                <div><button class="btn btn-primary">Read More...</button></div>

            </div>
            <div class="card-footer text-muted">
                Published on: {{post.created_at}}
            </div>
            </div>
        </a>
        {% endfor %}
        {% endif %}
</div>

{% endblock %}